<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車內沒有東西</title>
    <style>
      a {
        text-decoration: none;
        background-color: aqua;
        font-weight: bold;
        font-size: 2rem;
      }
    </style>
  </head>
  <body>
    <h1><%= e.message%></h1>
    <a href="/">回到首頁</a>
  </body>
</html>
